li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(212, 208, 208);
  padding: 5px;
}

li > input[type='checkbox'] {
  width: 20px;
  height: 20px;
  font-size: 1em;
  min-width: 20px;
  min-height: 20px;
}

li > span {
  margin-left: 5px;
  font-size: 1em;
  width: auto;
  height: auto;
}

li:last-child {
  border-bottom: 0;
}

.delete {
  margin-left: auto;
  cursor: grab;
  border: 1px solid silver;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  border-radius: 10px;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(240, 237, 237);
}
